.card {
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.portfolioTitle {
  position: absolute;
  z-index: 1;
  color: var(--mantine-color-cyan-6);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  background: #d6faffeb;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  letter-spacing: 3px;
  padding: 1rem;
  text-transform: uppercase;
  bottom: 0;
}

.portfolioContainer {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
